{block content}

{*TODO tady by bylo fajn vypsat existující tagy a umožnit podle nich filtrování*}

<h1 n:block="title">new todo create </h1>

{control todoEditForm}

<div>
    {*TODO tady by bylo hezké tlačítko pro přidání nového úkolu*}
    <a href="{plink Tag:default}" class="btn btn-light">správa tagů</a>
</div>